/* App.css */
html {
  --tw-bg-opacity: 1;
  background-color: rgb(232 235 237/var(--tw-bg-opacity));
}

.wrap {
  max-width: 420px;
  margin: auto;
  min-height: 100vh;
  background-color: #fff;
  position: relative;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0px auto;
  padding: 0 1rem 0 1rem;
}

.navigate {
  padding-top: 1rem;
}

.custom-icon {
  font-size: 1.5rem;
  /* 원하는 크기로 설정 */
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
}

.progress {
  display: flex;
}

/* 기본 스타일 */
.circle {
  background-color: #ccc;
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.7rem;
  margin-right: 0.5rem;
}

.circle.checked {
  background-color: #FF3D00;
}

.weight {
  font-size: 1.5rem;
  font-weight: 700;
}

.win {
  color: red;
}

.lose {
  color: #031089;
}

.draw {
  color: #808080;
}

.cancel {
  color: black;
}

a {
  text-decoration: none;
  color: inherit;
}